<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/html"/>
    <link href="stylesheet.css" type="text/css" rel="stylesheet">
    <title>Gold Digger</title>
</head>
	<body>
		<div class = "navBar">
			<div id = "logo">
				Logo - Title
			</div>
			<div id = "navService">
				Stocks
			</div>
			<div id = "navInfo">
				Registration
			</div>			
			<div id = "navContact">
				Contact Us
			</div>
		</div>
		<div class = "serviceBody">
			<h1>
				Leave a comment to us!
			</h1>
			<form class = "contactForm">
				<label class = "formItem" class = "formItem">
					First Name
				</label>
				<input type = "textbox" class = "formItem">
				<br>
				<label class = "formItem">
					Last Name
				</label>
				<input type = "textbox" class = "formItem">
				<br>
				<label class = "formItem">
					Email
				</label>
				<input type = "textbox" class = "formItem">
				<br>
				<label class = "formItem">
					Age
				</label>
				<input type = "textbox" class = "formItem">
				<br>
				<label class = "formItem">
					Gender
				</label>
				<select class = "formItem">
					<option value = "male"> 
						Male
					</option>
					<option value = "female">
						Female
					</option>
				</select>
				<br>
				<label>
					Message
				</label>
				<input type = "textbox" id = "message">
				<br>
				<button type = "Submit" class = "formItem">
					Submit
				</button>
				<button type = "Clear" class = "formItem">
					Clear
				</button>
			</form>
		</div>
	</body>
</html>