<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/html"/>
    <title>Gold Digger</title>
</head>
	<body>
		<div class = "navBar">
			<div id = "logo">
				Logo - Title
			</div>
			<div id = "navService">
				Stocks
			</div>
			<div id = "navInfo">
				Registration
			</div>			
			<div id = "navContact">
				Contact Us
			</div>
		</div>
		<div class = "serviceBody">
			<div id = "info">
				<div id = "inst">
					Please in the following form fill the fields with the corresponding values according to the label, once all the information is filled click on submit to know the price of the piece. If you want to clear all the fields at the same time, click clear.
				</div>
				<div id = "result">
					<label id = "answerLabel">
						The price of your piece is: 
					</label>
					<div id = "answer">
						1000$
					</div>
				</div>
			</div>
			<div id = "serv">
				<h1>
					Find the Value of the Piece!
				</h1>
				<form class = "findValue">
					<label class = "formItem">
						Prize per onz
					</label>
					<input type = "textbox" id = "pricePerOZ" class = "formItem">
					<br>
					<label class = "formItem">
						Price per pound
					</label>
					<input type = "textbox" id = "pricePerPound" class = "formItem">
					<br>
					<label class = "formItem">
						Price per gram
					</label>
					<input type = "textbox" id = "pricePerGram" class = "formItem">
					<br>
					<label class = "formItem">
						Price per Kilo
					</label>
					<input type = "textbox" id = "pricePerKG" class = "formItem">
					<br>
					<label class = "formItem">
						Piece weight  in Onz
					</label>
					<input type = "textbox" id = "userOZ" class = "formItem">
					<br>
					<label class = "formItem">
						Piece weight in pounds
					</label>
					<input type = "textbox" id = "userPounds" class = "formItem">
					<br>
					<label class = "formItem">
						Piece weight in grams
					</label>
					<input type = "textbox" id = "userGrams" class = "formItem">
					<br>
					<label class = "formItem">
						Pece weight in kilo
					</label>
					<input type = "textbox" id = "userKG" class = "formItem">
					<br>
					<label class = "formItem">
						Karat
					</label>
					<input type = "textbox" id = "karat" class = "formItem">
					<br>
					<label class = "formItem">
						Type of gold
					</label>
					<select id = "goldType" class = "formItem">
						<option value = "White gold">White Gold</option>
						<option value = "Rose gold">Rose Gold</option>
						<option value = "Green gold">Green Gold</option>
						<option value = "Blue gold">Blue Gold</option>
						<option value = "Purple gold">Purple Gold</option>
						<option value = "Black gold">Black Gold</option>
					</select>
					<br>
					<button type = "submit" class = "formItem">
						Submit
					</button>
					<button type = "clear" class = "formItem">
						Clear
					</button>
				</form>
			</div>
		</div>
	</body>
</html>
